[submodule "ocean-case-studies"]
	path = ocean-case-studies
	url = https://github.com/wekeo/ocean-case-studies.git
[submodule "learn-olci"]
	path = learn-olci
	url = https://github.com/wekeo/learn-olci.git
[submodule "learn-slstr"]
	path = learn-slstr
	url = https://github.com/wekeo/learn-slstr.git
[submodule "learn-sral"]
	path = learn-sral
	url = https://github.com/wekeo/learn-sral.git
[submodule "learn-s6"]
	path = learn-s6
	url = https://github.com/wekeo/learn-s6.git
